<html>
<head>
  <%= stylesheet_link_tag "test" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
  this is a test page
  <%= image_tag "rails.png" %>

  <p>
    this image doesn't exist
    <%= image_tag "non-existing-file.png" %>
  </p>
</body>
</html>
